Module 5 and 6/Module 5 and 6/Connected Services/ServiceReference2/Program_2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="Module_5_and_6" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="Module_5_and_6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Module_5_and_6">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectData">
        <s:complexType />
      </s:element>
      <s:element name="SelectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SelectDataSoapIn">
    <wsdl:part name="parameters" element="tns:SelectData" />
  </wsdl:message>
  <wsdl:message name="SelectDataSoapOut">
    <wsdl:part name="parameters" element="tns:SelectDataResponse" />
  </wsdl:message>
  <wsdl:message name="insertDataSoapIn">
    <wsdl:part name="parameters" element="tns:insertData" />
  </wsdl:message>
  <wsdl:message name="insertDataSoapOut">
    <wsdl:part name="parameters" element="tns:insertDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Program_2Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectData">
      <wsdl:input message="tns:SelectDataSoapIn" />
      <wsdl:output message="tns:SelectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <wsdl:input message="tns:insertDataSoapIn" />
      <wsdl:output message="tns:insertDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Program_2Soap" type="tns:Program_2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="Module_5_and_6/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectData">
      <soap:operation soapAction="Module_5_and_6/SelectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <soap:operation soapAction="Module_5_and_6/insertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Program_2Soap12" type="tns:Program_2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="Module_5_and_6/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectData">
      <soap12:operation soapAction="Module_5_and_6/SelectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <soap12:operation soapAction="Module_5_and_6/insertData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Program_2">
    <wsdl:port name="Program_2Soap" binding="tns:Program_2Soap">
      <soap:address location="https://localhost:44317/Program_2.asmx" />
    </wsdl:port>
    <wsdl:port name="Program_2Soap12" binding="tns:Program_2Soap12">
      <soap12:address location="https://localhost:44317/Program_2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>